@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: #282C32;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: #fefefe;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Suisse Intl, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  min-height: 100vh;

}

footer {
  position: relative;
}

footer:before {
  content: "";
  width: 92%;
  height: 1px;
  background: #e1e1e1;
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
}


/* 
Blink
*/

.blink {
  display: inline-block;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  position: relative;
  top: 6px;
}

.blink:before,
.blink:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 255, 101, 0.6);
  border-radius: 50px;
  opacity: 0;
}

.blink:before {
  transform: scale(1);
  -webkit-animation: blink 1.6s infinite linear;
  animation: blink 1.6s infinite linear;
}

.blink:after {
  -webkit-animation: blink 1.6s 1.2s infinite linear;
  animation: blink 1.6s 1.2s infinite linear;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }

  33.33333% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }

  33.33333% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* 
Dark Mode
*/

body.dark_theme {
  background: #050505;
  color: #ebf1ff;
}

body.dark_theme h3,
body.dark_theme h2,
body.dark_theme h1,
body.dark_theme p {
  color: #ebf1ff !important;
}

body.dark_theme svg path {
  fill: white !important;
}

body.dark_theme footer:before {
  display: none;
}

body.dark_theme a {
  color: #fbff7d;
}

body.dark_theme footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
